<div>
    <jhi-data-table-search-controls
        [searchResultFormatter]="searchResultFormatter"
        [searchTextFromEntity]="searchTextFromEntity"
        [entitiesPerPageTranslation]="entitiesPerPageTranslation"
        [entityType]="entityType"
        [onSearch]="onSearch"
        [searchPlaceholderTranslation]="searchPlaceholderTranslation"
        [showAllEntitiesTranslation]="showAllEntitiesTranslation"
        (onAutocompleteSelected)="updateEntities()"
        (onPagingValueSelected)="numberOfRowsPerPage = $event"
    >
    </jhi-data-table-search-controls>
    <div *ngIf="entities && !isPreparing; else loadingContainer" class="table-responsive">
        <ng-container *ngTemplateOutlet="templateRef; context: context"></ng-container>
    </div>
    <ng-template #loadingContainer>
        <div class="loading-container d-flex justify-content-center align-items-center">
            <fa-icon size="lg" icon="circle-notch" [spin]="true"></fa-icon>
        </div>
    </ng-template>
</div>
