/*!* ==========================================================================
Ace Editor
========================================================================== *!*/

.code-editor-ace {
    flex: 1 1 auto;
    display: flex;
    &__content {
        padding: 0;
        display: flex;
        flex: 1 1 auto;
        &__editor {
            flex: 1 1 auto;
        }
        &__no-selected {
            justify-self: center;
            width: 100%;
        }
    }
}

:host ::ng-deep {
    @import '~codemirror/lib/codemirror';
    @import '~codemirror/theme/material';

    .CodeMirror {
        min-height: 100%;
    }
}
